doctype
html
  head
    title checkmyidp.org - #{domain} results - Mozilla Persona Identity Provider (IdP) Linter
    style
      ul,li {
        list-style-type: none;
      }
      label {
        display: inline-block;
        width: 175px;
      }

      li div label {
        margin-left: 20px;
        width: 155px;
      }
  body
    h1 checkmyidp.org - #{domain} results - Mozilla Persona Identity Provider (IdP) Linter

    ul
      li
        label Authoritative Domain:
        span #{authoritativeDomain}

      li
        label Authentication:
        ul
          li
            label page:
            a(href=urls.auth) #{urls.auth}
          li
            label contains shim:
            span #{hasAuth}
      li
        label Provisioning:
        ul
          li
            label page:
            a(href=urls.prov) #{urls.prov}
          li
            label contains shim:
            span #{hasProv}


      li
        label Public Key:
        ul
          li
            label algorithm:
            span #{publicKey.algorithm}
          li
            label keysize:
            span #{publicKey.keysize}

          each val, key in publicKey.serialized
            li
              label #{key}:
              span #{val}
