extends layout

block title
  title checkmyidp.org - #{domain} results - Mozilla Persona Identity Provider (IdP) Linter

block heading
    h3 #{domain} results

block content

    - if (typeof error !== "undefined")
      div #{error}
    - else
      ul
        li
          label Authoritative Domain:
          span #{authoritativeDomain}

        li
          label Authentication:
          ul
            li
              label page:
              a(href=urls.auth) #{urls.auth}
            li
              label contains shim:
              span #{hasAuth}
        li
          label Provisioning:
          ul
            li
              label page:
              a(href=urls.prov) #{urls.prov}
            li
              label contains shim:
              span #{hasProv}


        li
          label Public Key:
          ul
            li
              label algorithm:
              span #{publicKey.algorithm}
            li
              label keysize:
              span #{publicKey.keysize}

            each val, key in publicKey.serialized
              li
                label #{key}:
                span#key #{val}

    nav
      ul
        li
          a(href="#{url}") Check again
        li
          a(href="/") Try another domain


    - if (typeof error === "undefined")
      h3 Check Authentication and provisioning pages
      ul
        li
          form(action="/check_pages", method="get")
            label Username:
            input#username(name="username", type="text") 
            input(name="auth", type="hidden", value="#{urls.auth}")
            input(name="prov", type="hidden", value="#{urls.prov}")
            input(name="domain", type="hidden", value="#{domain}")
            button Check Pages


