extends layout

block title
  title checkmyidp.org - #{domain} results - Mozilla Persona Identity Provider (IdP) Linter

block heading
    h3 #{domain} results

block content

    - if (error)
      div #{error}
    - else
      ul
        li
          label Authoritative Domain:
          span #{authoritativeDomain}

        li
          label Authentication:
          ul
            li
              label page:
              a(href=urls.auth) #{urls.auth}
            li
              label X-Frame-Option header:
              span #{auth_x_frame_option || "none"}
              - if (auth_x_frame_option && auth_x_frame_option !== "ALLOW")
                span  - Must be set to "ALLOW"
            li
              label included shim:
              span #{auth_include || "none"}
        li
          label Provisioning:
          ul
            li
              label page:
              a(href=urls.prov) #{urls.prov}
            li
              label X-Frame-Options header:
              span #{prov_x_frame_option || "none"}
              - if (prov_x_frame_option && prov_x_frame_option !== "ALLOW")
                span  - Must be set to "ALLOW"
            li
              label included shim:
              span #{prov_include || "none"}


        li
          label Public Key:
          ul
            li
              label algorithm:
              span #{publicKey.algorithm}
            li
              label keysize:
              span #{publicKey.keysize}

            each val, key in publicKey.serialized
              li
                label #{key}:
                span#key #{val}

    nav
      ul
        li
          a(href="#{url}") Check again
        li
          a(href="/") Try another domain


    - if (!error && canCheckPages)
      h3 Check authentication and provisioning pages
      ul
        li
          form(action="/check_pages", method="get")
            label Username:
            input#username(name="username", type="text") 
            input(name="auth", type="hidden", value="#{urls.auth}")
            input(name="prov", type="hidden", value="#{urls.prov}")
            input(name="domain", type="hidden", value="#{domain}")
            button Check Pages


